{
  "parserOptions": {
    "impliedStrict": true
  },

  "env": {
    "browser": true,
    "amd": true
  },

  "globals": {
    "document": false,
    "navigator": false,
    "window": false,
    "location": false,
    "Promise": false,
    "Framework7": false,
    "Dom7": false,
    "Template7": false,
    "$$": false,
    "f7": false,
    "mainView": true
  },

  "rules": {
    "comma-dangle": ["error", "never"],
    "no-constant-condition": "error",
    "no-dupe-keys": "error",
    "no-extra-parens": ["error", "functions"],
    "no-extra-semi": "error",
    "no-inner-declarations": "error",
    "no-unreachable": "error",
    "curly": "error",
    "eqeqeq": ["error", "always"],
    "no-caller": "error",
    "no-console": "warn",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-loop-func": "error",
    "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true } }],
    "no-multi-str": "error",
    "no-redeclare": "error",
    "no-self-assign": "error",
    "no-sequences": "error",
    "no-unused-labels": "warn",
    "no-with": "error",
    "no-delete-var": "error",
    "no-undef": "error",
    "no-unused-vars": ["error", { "vars": "local" }],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "eol-last": "error",
    "indent": ["error", 2, { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "key-spacing": ["error", { "afterColon": true }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": ["error", { "beforeBlockComment": true }],
    "max-depth": ["warn", 4],
    "new-cap": ["error", { "newIsCap": true, "capIsNew": false }],
    "new-parens": "error",
    "no-multiple-empty-lines": ["error", { "max": 1}],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", {"before": false, "after": true}],
    "space-before-blocks": "error",
    "spaced-comment": ["error", "always", { "exceptions": ["-"] }]
  }
}
